/* General styles for the application */
.root {
    -fx-background-color: #2b2b2b;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #444444;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 20;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.button:hover {
    -fx-background-color: #555555;
    -fx-border-color: #777777;
}

.button:pressed {
    -fx-background-color: #222222;
    -fx-border-color: #555555;
}

.login-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #444444;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-pref-width: 80px;
    -fx-pref-height: 40px;
}

.challenge-button {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #444444;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-pref-width: 80px;
    -fx-pref-height: 40px;
}

.logout-button {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #444444;
    -fx-border-color: #666666;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-pref-width: 80px;
    -fx-pref-height: 40px;
}

.small-button {
    -fx-font-size: 13px;
}

.vbox {
    -fx-background-color: #222222;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.grid-pane {
    -fx-background-color: #333333;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.list-view {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-border-color: #666666;
}

.list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

.list-view .list-cell:selected {
    -fx-background-color: #555555;
}

.list-view .list-cell:focused {
    -fx-background-color: #555555;
}

.text-field {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
    -fx-border-color: #666666;
}

.bottom-progress-bar {
    -fx-pref-height: 5px;
    -fx-background-color: transparent;
    -fx-accent: #666666;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 5px 5px;
    -fx-padding: 0;
    -fx-translate-y: -5px;
}
